@media (max-width: 3500px)
    .main__bg
        width: 100%
        height: 472px
    // .container
    //     width: 200px
@media (max-width: 1468px)
    .services__table
        width: 100%
@media (max-width: 1298px)
    .container
        width: 90%
    .main__descr
        font-size: 25px

@media (max-width: 1195px)
    .header__link, .header__link:visited
        padding: 13px 10px
    
@media (max-width: 1130px)
    .burger-btn
        display: block
    .main__photo
        height: 373px
    .header__content
        justify-content: space-between
    .header__list
        display: none
    .contacts__block
        padding: 43px 62px 43px 49px
        transform: translateX(-10%)
    .contacts__photo
        margin-top: 0px
    .services__price .services__table
        width: 100%
    .contacts__photo
        width: 50%
        transform: translateX(10%)
    .title
        max-width: 652px
    .main__text
        margin: 54px 0 84px 0
@media (max-width: 1087px)
    .modal__btn
        padding: 20px 0
@media (max-width: 1009px)
    // .main__title
    //     font-size: 27px
    // .main__descr
    //     font-size: 20px
    .cities__column
        margin-right: 100px
    .types__descr
        font-size: 16px
    .contacts__title
        font-size: 20px
    .contacts__descr, .contacts__adress
        font-size: 13px
    .contacts__block
        padding: 39px 42px 33px 39px
    .contacts__tagging
        font-size: 20px

@media (max-width: 915px)
    .footer__link, .footer__link:visited
        font-size: 14px
    .footer__text
        line-height: 23px
    .types__logo
        width: 120px
    .main__photo
        height: 300px
        margin-top: 73px
    .main__text
        margin: 120px 0
    .title
        font-size: 17px
        max-width: 550px
    .main__text
        margin: 90px 0
    .main__title
        font-size: 25px
    .main__descr
        font-size: 20px
    .footer__content
        flex-wrap: wrap
    .footer__card
        margin-left: 30px
        margin-right: 30px
        // margin-top: 30px
        &:nth-child(4)
            margin-top: 30px
            margin-right: 0
    .contacts__content
        display: block
        text-align: center
    .contacts__photo
        transform: translateX(0%)
        width: 83%
        margin: 0 auto
        text-align: center
    .contacts__block
         transform: translateX(0%)
         text-align: center
         background-color: #fff
    .contacts__title, .contacts__descr, .contacts__adress
        max-width: none
        color: $main-color
    
    .contacts__descr, .contacts__adress
        font-size: 15px
        color: black
    
    .contacts__button, .contacts__button:visited
        background-color: $main-color
        color: white
        padding: 12px 42px 12px 42px
        .contacts__button-svg
            display: none
    
    .contacts__adress.bold
        font-family: Roboto-Medium

@media (max-width: 849px)
    .modal__content
        width: 70%
    .main__text
        margin-top: 80px 
        margin-bottom: 80px
    .header__link-text, .header__link, .header__link:visited
        font-size: 12px

@media (max-width: 794px)
    .types__card
        margin-right: 100px
    .main__descr
        font-size: 17px
        
    
@media (max-width: 766px)
    .cities__column
        margin-right: 50px

@media (max-width: 696px)
    .title
        max-width: 400px
    .main__content
        display: block
        margin: 0 auto
        text-align: center
    .main__photo
        height: 300px
        margin-top: 24px
    .footer__card
        &:nth-child(3)
            margin-top: 30px

@media (max-width: 655px)
    // .advantages__content
    //     flex-wrap: wrap
    .types__card
        margin-right: 50px
    .cities__column
        margin-right: 30px

    .advantages__content
        display: block
        text-align: center
        margin: 0 auto
        &:last-child
            margin-top: 47px
    .block-text
        font-size: 13px
        margin-left: 32px
    .advantages__content
        .column
            &:last-child
                margin-top: 47px

@media (max-width: 610px)
    .cities__columns
        display: flex
        flex-wrap: wrap
    .footer__card
        &:nth-child(3)
            margin-top: 30px

@media (max-width: 602px)
    .cities__column
        &:nth-child(3)
            margin-top: 50px
    .modal__content
        width: 80%
    .modal__title
        // max-width: 241px
        width: 80%

@media (max-width: 529px)
    .types__card
        margin-right: 15px
    .types__logo
        width: 110px
    .types__cards
        display: flex
        justify-content: space-around
    .types__card
        // margin-right: 40px
        &-text
            font-size: 17px
    .temp
        &__btn
            font-size: 17px
            padding: 13px 75px
        &__content
            width: 85%
            padding: 39px 33px
            font-size: 20px
        &__icon
            margin-bottom: 18px
        svg
            width: 76px
        &__descr
            font-size: 15px
    .advantages__content
        justify-content: space-between
        flex-wrap: wrap
        &:last-child
            margin-top: 47px
    .block-text
        font-size: 13px
        margin-left: 32px
    .advantages__content
        .column
            &:last-child
                margin-top: 47px

    // test


    .note__descr
        display: block
        font-size: 15px
        text-align: center
    .services__icon
        position: absolute
        left: 50%
        transform: translateX(-50%)
    .note__bold-text
        margin-top: 50px
        margin-left: 0
    .note__text
        display: block
        position: relative
    .contacts__photo
        height: 100%
        width: 100%
    .contacts__block
        padding: 30px 0 30px 0
    .contacts__title
        font-size: 17px
    .contacts__descr
        letter-spacing: normal
        font-size: 14px
    .contacts__adress .bold
        color: #2659cf
    .contacts__text
        max-width: none
        display: block
        margin-left: 0
        text-align: center
    .types__descr
        font-size: 15px
    .footer__card
        text-align: center
        margin-left: 10px
        margin-right: 10px
    .footer__link, .footer__link:visited
        text-align: center
        font-size: 14px
    .footer__card:nth-child(3)
        margin-top: 30px
    .footer__text
        text-align: center
        padding-top: 10px
    .footer__text-span
        margin-left: 0
    .footer__text-span
        display: block
        margin-right: 0
        font-size: 13px
    .note__icon
        margin-bottom: 20px
    .contacts__text
        font-size: 15px
    .note__text
        font-size: 14px
        text-transform: none
    .note__text .contacts__text
        font-size: 17px
    .note__bold-text
        line-height: 25px

    .modal__title
        margin-bottom: 30px
        font-size: 16px
    .modal__close
        font-size: 35px
        right: -25px
    .modal__input
        font-size: 15px
    .modal__user-agreement
        max-width: none
        margin-top: 20px
        text-align: center
        width: 100%
        font-size: 13px
    .modal__icon
        padding: 2px 13px
    .modal__btn
        padding: 15px 0
        font-size: 16px
    .callback
        right: 6%
    .callback__button
        height: 61px
        width: 61px
    .callback__button .text-call
        height: 61px
        width: 61px
    .callback__button .text-call:after
        height: 61px
        width: 56px
        line-height: 61px
        font-size: 38px
    .modal__input
        padding: 15px 20px
    .modal__icon-svg
        width: 20px
        height: 20px
    .services__list
        text-align: left
        transform: translateX(0%)
        margin-left: 20px
    .services__name
        padding-bottom: 20px

@media (max-width: 485px)
    .title
        font-style: 15px
        max-width: 350px
    .types__logo
        width: 97px
    .types__descr
        margin-top: 40px

@media (max-width: 455px)
    .main__descr
        font-size: 17px
    .modal__content
        padding: 39px 31px
    // .modal__input

@media (max-width: 438px)
    .cities__name-text
        font-size: 13px
    
@media (max-width: 398px)
    .main__text
        margin-top: 75px
        margin-bottom: 47px
    .main__title
        font-size: 22px
    .main__descr
        font-size: 15px
        
@media (max-width: 363px)
    .cities__column
        margin-right: 15px
    .title
        max-width: 300px
        font-size: 15px