.services
    .title
        background: none
        color: $main-color
        padding: 0
    &__list
        margin-left: 50%
        transform: translateX(-50%)
        font-family: Roboto-Regular
        // text-align: right
    &__name
        color: $main-color
    &__text
        color: black


